node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

test-results/
playwright-report/

src/components/ui/
src/types/supabase.db.d.ts

package-lock.json
npm-debug.log
yarn-error.log
yarn.lock

.gitignore
.git